{% load i18n %}
<footer class="sticky-footer bg-white pl-0 ml-0 p-2">

    <div class="pl-3 container my-auto ml-0">
        <div class="pl-0 copyright mt-2 mb-0 ml-0 ">
            <div class="d-flex justify-content-start my-3 ml-0 pb-1">
                <a class="mr-1" target="_blank" href="https://ventory.one/impressum">{% trans "Impressum" %}</a>&nbsp;&nbsp;
                <a class="mx-1" target="_blank" href="https://ventory.one/agbs">{% trans "AGBs" %}</a>
                <a class="mx-1" target="_blank" href="https://ventory.one/datenschutz">{% trans "Datenschutz" %}</a>&nbsp;&nbsp;
                <a class="mx-1" target="_blank" href="https://ventory.one/dokumentation/">{% trans "Help" %}</a>&nbsp;&nbsp;
            </div>
            <div class="my-3">
                {% trans "Copyright 2021 ©&nbsp;" %}<strong>VentoryOne</strong>
            </div>
        </div>
    </div>

</footer>